<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mobile_ur10" >

  <xacro:include filename="$(find ur_description)/urdf/ur10_robot.urdf.xacro" />
  <xacro:include filename="$(find mobility_base_description)/urdf/mobility_base.urdf.xacro" />
  <xacro:include filename="$(find realsense2_camera)/urdf/_d435.urdf.xacro" />
  <xacro:ur10_robotiq_robot prefix=""/>
  
  
  <link name="ur10_platform">
    <visual>
      <geometry>
        <mesh filename="package://mobile_ur_description/meshes/new_ur_adapter.stl"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://mobile_ur_description/meshes/new_ur_adapter.stl"/>
      </geometry>
    </collision>
  </link>
  
  <joint name="platform_base_joint" type="fixed">
    <parent link="base"/>
    <child link="ur10_platform"/>
    <origin xyz="0 0 -0.065" rpy = "0 0 ${pi / 2.0}"/>
  </joint>
  
  <joint name="ur10_base_joint" type="fixed">
    <parent link="ur10_platform"/>
    <child link="ur10_base_link"/>
    <origin xyz="0.1 0 0.33274" rpy="0 0 ${pi/2}"/>
  </joint>
  
  <sensor_d435 parent="ur10_platform">
    <origin xyz="0 -0.26 0.07" rpy="0 ${pi / 9.75} ${pi / -2.0}"/>
  </sensor_d435>

  <link name="pico_flexx_link">
  </link>
  
  <link name="pico_flexx_optical_frame">
  </link>

  <joint name="pico_flexx_joint" type="fixed">
    <parent link="robotiq_arg2f_base_link"/>
    <child link="pico_flexx_link"/>
    <origin xyz="-0.0561407 0 0.0686689" rpy="0 0 ${pi}"/>
    <!-- <origin xyz="-0.0532277 -0.0189994 0.0727731" rpy="0.0316799 -0.0245556 -3.13378"/> -->
    <!-- <origin xyz="-0.0561407 -0.00324187 0.0686689" rpy="0.0513396 -0.00615057 3.11232"/> -->
  </joint>

  <joint name="pico_flexx_calibration_joint" type="fixed">
    <parent link="pico_flexx_link"/>
    <child link="pico_flexx_optical_frame"/>
    <origin xyz="0 0 0" rpy="-0.04 0 -0.025"/>
  </joint>
</robot>
